input{
    margin-left: 25%;
    padding: 15px;
    margin: 15px 15px 15px 25%;
}
.event-container{
    display: flex;
    flex-direction: column;
}
.evhead{
    text-align: center;
}
.events{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
}
.event{
    background-color: blueviolet;
    height: 250px;

}
.event-details{
    display: flex;
}
.img{
    background-color: aqua;
    width: 60%;
    display: flex;
    justify-content: center;
}
img{
    border-radius: 50%;
    width: 60%;
}